<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>Lyft</title>
</head>

<body>
	<!-- vista splash -->
	<div class="container-fluid bg-car vh100">
		<div class="row container-flex">
			<div class="col-xs-4">
				<img src="../assets/images/logo-white.png" class="img-responsive logo-white" alt="logo-white">
			</div>
		</div>
		<div class="row container-flex">
			<div class="col-xs-12">
				<img src="../assets/images/lyft-life.png" class="img-responsive" alt="lyft-life">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<a class="btn btn-default btn-lg btn-inicio text-uppercase" href="#" role="button">Log in</a>
				<a class="btn btn-default btn-lg btn-inicio text-uppercase" type="button" href="log-in.html" role="button">Sing up</a>
			</div>
		</div>
	</div>
	</div>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/inicio.js"></script>
</body>

</html>