<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>Lyft</title>
</head>

<body>
	<section class="container">
		<div class="row">
			<div class="col-xs-1">
				<span class="glyphicon glyphicon-chevron-left icon-back" aria-hidden="true"></span>
			</div>
			<div class="col-xs-8 col-xs-push-1 text-center">
				<h3 class="subtitle">Sign up</h3>
			</div>
		</div>
		<div class="row">
			<p class="text-center">Join now for free ride credit</p>
			<hr>
			<br>
		</div>
		<div class="row text-center">
			<div class="col-xs-8 col-xs-offset-2">
				<form action="">
					<label for="exampleInputName2">LAB-</label>
					<input type="text" class="input-code" id="exampleInputName2" placeholder="code">
				</form>
			</div>
		</div>
		<p class="text-center">Enter the code sent to</p>
		<button class="btn btn-default center-block btn-resend">Resend code</button>
		<button class="btn btn-default btn-lg text-uppercase center-block btn-gray">Next</button>
	</section>

	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/inicio.js"></script>
</body>

</html>